* {
  font-family: "Montserrat", sans-serif;
}
textarea {
  min-height: 150px;
}

hr {
  width: 200px;
}

br {
  line-height: 30px;
}

.w3-row-padding img {
  margin-bottom: 12px;
}

/* Sidebar navigation*/
.sidebar {
  width: 120px;
  background: #222;
}

.sidebar a {
  width: 100%;
  height: auto;
}

/* Make place for our sidebar */
.content {
  margin-left: 120px
}

.secondary_color {
  background: #222;
}

.bold {
  font-weight: bold;
}

.project {
  height: 100%;
}

.project_img {
  width: 85%;
  max-width: 256px;
}

.no_link {
  text-decoration: none;
}

.nav_mobile {
    width: 20% !important;
}

.icon {
    width: 5vh;
    height: auto;
}

.icon-small {
    width: 5em;
    height: auto;
    padding: 1em;
}

#avatar {
  width: 50%;
  max-width: 350px;
}

.map {
  width: 100%;
  height: 30vh;
}

#watercolor {
  display: none;
}

#email {
  display: none;
}

#css_logo {
  border:0;
  width:88px;
  height:31px;
}

/* No side bar on the smaller screens, so remove the margin*/
@media only screen and (max-width: 601px) {
  .content {
    margin-left: 0px;
  }
}
